/* caratteristiche ul */
ul{
    list-style: none;
}
/* caratteristiche backgroud parti colorate */
.bg-colorato{
    /* debug */
    background-color: blue;
}
/* caratteristiche header */
header{
    /* debug */
    background-color: red;
}
/* caratteristiche barre della greca in main */
.barra{
    border: 1px solid black;
    width: 20px;
}
/* caratteristiche sfondo main sezione portfolio */
.sfondo{
    margin-bottom: 10px;
    padding: 20px;
    /* debug */
    background-color: brown;
}
/* contatti pagina  */
.contatti-pagina{
    border-bottom: 1px solid black;
}
/* cartteristiche sfondo sezione footer */
.bg-destinazione{
    background-color: rgb(215, 136, 39);
}

.bg-copyright{
    background-color: rgb(5, 168, 168);
}