/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* stili container */

header{
    /* debug */
    background-color: red;
    border: 1px solid black;
}

.col-2{
    /* debug */
    background-color: aqua;
}
/* caratteristiche ul */
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}