section, .bg-copyright, .bg-destinazione{
    padding: 20px 0;
}

footer, h2{
    text-align: center;
}

.greca{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenitore-img img{
    width: 20%;
}

.form-control{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

/* caratteristiche ul */
ul{
    list-style: none;
}
/* caratteristiche backgroud parti colorate */
.bg-colorato{
    background-color: #1abc9c;
    color: white;
}
/* caratteristiche header */
header{
    background-color: #2c3e50;
}
/* caratteristiche barre della greca in main */
.barra{
    border: 1px solid white;
    width: 20px;
}
/* caratteristiche sfondo main sezione portfolio */
.sfondo img{
    width: 100%;
    border-radius: 5px;
}

/* contatti pagina  */
.contatti-pagina{
    border-bottom: 1px solid black;
}
/* cartteristiche sfondo sezione footer */
.bg-destinazione{
    background-color: #3a546d;
    color: white;
}

.bg-copyright{
    background-color: #2c3e50;
    color: white;
}

.navbar-light .navbar-brand,  .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light .navbar-toggler-icon{
    filter: invert();
}